*, *::after, *::before{
  box-sizing: border-box;
}


body{
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(248, 248, 248);
}

h1{
  font-family: 'Montserrat', sans-serif;
}

a:hover{
  color: #FFA67A;
  text-decoration: none;
}

.hero {
  height: 100%;
}

.hero .card-text{
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
}

.hero-text{
  height: 100%;
  margin: 0;
  text-align: center;
}

.hero-title{
  font-size: 65px;
}

.hero-text .card-body{
  background-color: #F5DD90;
  padding: 10px;
}

.row {
  margin-bottom: 30px;
}

.content{
  padding: 4px;
}

.hero div{
  padding: 0;
}

.section1{
  background-color: #F5DD90;
  margin-top: 5px;

}

.section2{
  background-color: #FFA67A;
  margin-bottom: 5px;
}

.section3{
  background-color: #F5DD90;
  margin-top: 5px;
}

.bg-dark{
  background-color: #000 !important;
  margin-bottom: 5vh;
}

#logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  margin-left: 30vw;
  color: rgb(248, 248, 248);
}
.sm-nav {
  float: right;
  margin-right: 3vw;
  margin-top: 2%;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.navbar{
  display: block;
}

.img-fluid{
  width: 100%;
  overflow: hidden;
}

.box{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  width: 80px;
  height: 28px;
  border: 2px solid black;
  background-color: #FFA67A;
  position: absolute;
  top: 15.5vh;
  left: auto;
  z-index: 2;
}



@media screen and (min-width: 801px){
  .hero{
    height: 600px;
    overflow: hidden;
  }

  .row{
    margin-bottom: 20px;
  }
  .sm-nav {
    margin-top: 1%;
  }
  .hero-text .card-body{
    padding-top: 150px
  }
  #logo {
    margin-left: 24vw;
  }

  .box{
    top: 14.5vh;
  }

  .hero-image{
    height: 100%;
  }

  .hero-image-col{
    overflow: hidden;
    height: 61vh;
  }

}

@media screen and (min-width: 401px) and (max-width: 800px){

  .hero-text{
    max-height: 500px;
    margin-bottom: 25px;
  }

  .sm-nav{
    display: none;
  }

  .box{
    top: 15.5vh;
    left: 40vw;
  }

  #logo {
    margin-left: 25vw;
  }

  .hero-image{
    width: 100%;
  }

  .hero-image-col{
    overflow: hidden;
    height: 500px;
  }

  .section1-col{
    overflow: hidden;
    height: 500px;
  }

  .content-image {
    overflow: hidden;
    max-height: 500px;
  }
}

@media screen and (max-width:400px){
  .box{
    top: 12.5vh;
    left: 40vw;
  }
 #logo {
   font-size: 20px;
   margin-left: 10vw;
 }
   .nav-sm {
     display: none;
   }
}
